<!DOCTYPE html>
<html>
<head>
    <title>SOLID sim</title>
    <link rel="stylesheet/less" type="text/css" href="assets/less/index.less" />
    <script type="text/javascript" src="traceur-runtime/traceur-runtime.js"></script>
    <script type="text/javascript" src="less/dist/less.js"></script>
    <script type="text/javascript" src="rxjs/dist/rx.all.js"></script>
    <script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="angular-rx/dist/rx.angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body ng-controller="GameController">
    <select ng-options="tool.name for tool in tools" ng-model="activeTool"></select>
    <board ng-model="myBoard" class="panable zoomable" tool="activeTool"></board>
    <annual-report></annual-report>
    <journal></journal>
    <disaster></disaster>
</body>
</html>