<!DOCTYPE html>
<html>
<head>
    <title>SOLID sim</title>
    <link rel="stylesheet/less" type="text/css" href="assets/less/index.less" />
    <script type="text/javascript" src="traceur-runtime/traceur-runtime.js"></script>
    <script type="text/javascript" src="less/dist/less.js"></script>
    <script type="text/javascript" src="rxjs/dist/rx.all.js"></script>
    <script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="angular-rx/dist/rx.angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body ng-controller="GameController">
    <div>
        <select ng-options="item.tool as item.name for item in toolItems" ng-model="activeTool"></select>
    </div>
    <board ng-model="game" class="panable zoomable" tool="activeTool"></board>
</body>
</html>